<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node Sample App</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->

	<link rel="stylesheet" href="css/style.css">
		 <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" />
		   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
	<div class="">
		
 <h1>  APIs   <h1>



<div class="container">
  <div class="row">
    <div class="col-md-12"> 
      <!-- Nav tabs -->
      <div class="card">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-home"></i>  <span>1</span></a></li>
          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-user"></i>  <span>2</span></a></li>
          <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-envelope-o"></i>  <span>3</span></a></li>
          <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-cog"></i>  <span>4</span></a></li>
          <li role="presentation"><a href="#extra" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-plus-square-o"></i>  <span>5</span></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">

router.route('/district').get(districtctrl.getAll);
router.route('/district/count').get(districtctrl.count);
router.route('/district').post(districtctrl.insert);
router.route('/district/:id').get(districtctrl.get);
router.route('/district/:id').put(districtctrl.update);
router.route('/district/:id').delete(districtctrl.delete);
router.route('/districtw/:id').get(districtctrl.getidw);


		  </div>
          <div role="tabpanel" class="tab-pane" id="profile">

router.route('/country').get(countryctrl.getAll);
router.route('/country/count').get(countryctrl.count);
router.route('/country').post(countryctrl.insert);
router.route('/country/:id').get(countryctrl.get);
router.route('/country/:id').put(countryctrl.update);
router.route('/country/:id').delete(countryctrl.delete);

		  </div>
          <div role="tabpanel" class="tab-pane" id="messages">
			  

router.route('/companysize').get(companysizectrl.getAll);
router.route('/companysize/count').get(companysizectrl.count);
router.route('/companysize').post(companysizectrl.insert);
router.route('/companysize/:id').get(companysizectrl.get);
router.route('/companysize/:id').put(companysizectrl.update);
router.route('/companysize/:id').delete(companysizectrl.delete);

		  </div>
          <div role="tabpanel" class="tab-pane" id="settings">

router.route('/workplace').get(workplacectrl.getAll);
router.route('/workplace/count').get(workplacectrl.count);
router.route('/workplace').post(workplacectrl.insert);
router.route('/workplace/:id').get(workplacectrl.get);
router.route('/workplace/:id').put(workplacectrl.update);
router.route('/workplace/:id').delete(workplacectrl.delete);
var postctrl = require('../controllers/post.controllers.js');
		  </div>
          <div role="tabpanel" class="tab-pane" id="extra">
router.route('/post').get(postctrl.getAll);
router.route('/post/count').get(postctrl.count);
router.route('/post').post(postctrl.insert);
router.route('/post/:id').get(postctrl.get);
router.route('/post/:id').put(postctrl.update);
router.route('/post/:id').delete(postctrl.delete);
router.route('/getpost/:id').get(postctrl.getiduser);
		  </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p>












</p>


	
	</div>
</div>
	
</body>
</html>